{#
Title: Full Screen Hero
Description: A full-screen hero section with customizable content and background
Category: formatting
Icon: <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 24 24" fill="#fff" stroke="#000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="feather feather-maximize-2"><polyline points="15 3 21 3 21 9"></polyline><polyline points="9 21 3 21 3 15"></polyline><line x1="21" y1="3" x2="14" y2="10"></line><line x1="3" y1="21" x2="10" y2="14"></line></svg>
Keywords: Full Screen Hero, Hero Block, Full Width Hero
Mode: auto
Align: full
PostTypes: page post
SupportsAlign: full
SupportsMode: true
SupportsMultiple: true
#}
<div id="hero-{{block.id}}" class="hero block {{block.classes}}">
  <div class="hero-inner">
  <div class="wrapper">
    <h1 class="big-title">{{ fields.big_title }}</h1>
    <span class="big-title-span">{{ fields.big_title_span }}</span>
    <p class="lead">{{ fields.lead }}</p>
    <div class="buttons">
      {% for item in fields.buttons %}
        {% if item.style == "primary" %}
          <a href="{{site.url}}/{{item.url}}" class="btn btn-primary">{{item.text}}</a>
        {% elseif item.style == "secondary" %}
          <a href="{{site.url}}/{{item.url}}" class="btn btn-secondary">{{item.text}}</a>
        {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
</div>
