{#
Title: Services
Description: A showcase section for displaying services with customizable content and layout
Category: portfolio
Icon: <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 24 24" fill="#fff" stroke="#000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="feather feather-briefcase"><rect x="2" y="7" width="20" height="14" rx="2" ry="2"></rect><path d="M16 21V5a2 2 0 0 0-2-2h-4a2 2 0 0 0-2 2v16"></path></svg>
Keywords: Services, Service Showcase, Service Display, Service Gallery
Mode: auto
Align: full
PostTypes: page post
SupportsAlign: full
SupportsMode: true
SupportsMultiple: true
#}

<div id="services-{{block.id}}" class="services-block block {{block.classes}}">
    <div class="wrapper">
        {% if fields.title %}
            <h2 class="services-title">{{fields.title}}</h2>
        {% endif %}
        
        {% if fields.lead %}
            <p class="services-description">{{fields.lead}}</p>
        {% endif %}
        
        <div class="services-grid">
            {% for service_post in fields.services %}
                {% set service = TimberPost(service_post.ID) %}
                <div class="services-item" data-aos="fade-up" data-aos-delay="{{ loop.index * 100 }}">
                    <div class="services-item-content">
                 
                        <h3 class="services-item-title">{{ service.title }}</h3>
                        <div class="services-item-excerpt">{{ service.meta('snippet') }}</div>
                        
                    </div>
                </div>
            {% endfor %}
            <div class="services-item-link">
                <a href="{{ site.link }}/services" class="btn btn-secondary">
                    View All Services
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="arrow-icon"><line x1="5" y1="12" x2="19" y2="12"></line><polyline points="12 5 19 12 12 19"></polyline></svg>
                </a>
            </div>
        </div>
    </div>
</div>