{#
Title: Testimonials        
Description: A block for displaying customer testimonials with quotes, author information, and optional styling
Category: formatting
Icon: <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 24 24" fill="#fff" stroke="#000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="feather feather-message-square"><path d="M21 15a2 2 0 0 1-2 2H7l-4 4V5a2 2 0 0 1 2-2h14a2 2 0 0 1 2 2z"></path></svg>
Keywords: testimonial, quote, review, feedback, customer, client
Mode: preview
Align: full
PostTypes: page post
SupportsAlign: left right center wide full
SupportsMode: true
SupportsMultiple: true
#}


<div id="testimonials-{{block.id}}" class="testimonials-block block {{block.classes}} {% if fields.variant == 'variant one' %} variant-one {% elseif fields.variant == 'variant two' %} variant-two {% endif %}">
<div class="wrapper">
    {% if fields.title %}  
        <h1 class="">{{fields.title}}</h1>
        <p class="testimonials-subtitle">{{fields.lead}}</p>
    {% endif %}
</div>
{% if fields.variant == 'variant one' %}
    <div class="wrapper variant-one">
  
        {% for testimonial in fields.variant_one.testimonials %}
            <div class="testimonials-inner">
                <h3>{{testimonial.testimonial}}</h3>
                <div class="testimonials-author">
                    <h5>{{testimonial.post_title}}</h5>
                    <p>{{testimonial.job_title}}</p>
                    <p>{{testimonial.company}}</p>
                </div>
            </div>
        {% endfor %}
    </div>
{% endif %}
{% if fields.variant == 'variant two' %}
    <div class="wrapper variant-two">
        <div class="testimonials-inner">

    <h3>{{fields.variant_two.testimonial.testimonial}}</h3>
    <div class="testimonials-author">
       <h5> {{fields.variant_two.testimonial.post_title}}</h5>
       <p>{{fields.variant_two.testimonial.job_title}}</p>
       <p>{{fields.variant_two.testimonial.company}}</p>
    </div>
        </div>
    </div>
{% endif %}
</div>  