{% extends "base.twig" %}

{% block content %}
    {% if page.content %}
        {{ page.content }}
    {% endif %}

    <div class="services-archive wrapper">
        {% for service in services %}
            <div class="service-block">
                <div class="service-block__left">
                    <h2 class="service-block__title">{{ service.title }}</h2>
                    <p class="service-block__desc">{{ service.meta('snippet') }}</p>
                    <p class="service-block__price">Starting at £{{ service.meta('price') }}</p>
                </div>
                <div class="service-block__right">
                    <ul class="service-block__features">
                        {% for item in service.meta('included') %}
                            <li>{{ item.item }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}